@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-950 text-white font-sans antialiased overflow-x-hidden;
    background-image: radial-gradient(circle at center, rgba(30, 27, 75, 0.2) 0%, rgba(9, 9, 11, 1) 100%);
    min-height: 100vh;
  }
}
